# Desired token to purchase
TOKEN_ADDRESS=""

# UniswapV2Factory contract address
FACTORY_ADDRESS=""

# RPC endpoint + wallet private key
RPC_ENDPOINT=""
PRIVATE_KEY=""

# Purchase details

# Input base token amount (i.e 0.01 = 0.01 ETH/Matic)
AMOUNT="0.01"
# Gas price for transaction (default = type 0)
GAS_PRICE="100"
# Slippage tolerance (i.e 0.5 = 50%, 0.01 = 1%)
SLIPPAGE="0.5"